In [1]:
import os
import struct
import numpy as np
import pandas as pd
import re

/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/_libs/__init__.py:4: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .tslib import iNaT, NaT, Timestamp, Timedelta, OutOfBoundsDatetime
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/__init__.py:26: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (hashtable as _hashtable,
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/dtypes/common.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/util/hashing.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import hashing, tslib
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/indexes/base.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, index as libindex, tslib as libts,
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/tseries/offsets.py:21: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.tslibs.offsets as liboffsets
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/ops.py:16: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as libalgos, ops as libops
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/indexes/interval.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs.interval import (
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/internals.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import internals as libinternals
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/sparse/array.py:33: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.sparse as splib
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/window.py:36: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.window as _window
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/groupby/groupby.py:68: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, reduction,
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/core/reshape/reshape.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as _algos, reshape as _reshape
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/io/parsers.py:45: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.parsers as parsers
/home/wuxue/pkg/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:50: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib, writers as libwriters

In [2]:
data_path = '/work/wuxue/data/CI/Zhuge/result/H8_20180402_0810_CldRcrd_simple.dat'

诸葛小勇 2018/8/20 21:28:44
  type cobj
      sequence
      integer :: curID,curcldsize         [0,2] 
      real,dimension(17):: curdata         [2,19]  
      real :: curpos_lat_c,curpos_long_c,curAng_SunSeta,curAng_SatSeta,curAng_deltaPhi  [19,24]
      integer,dimension(50):: prepos_remark,preID              [24,124]
      integer :: precldsize      [124,125]
      real,dimension(17):: predata     [125,142]
      real :: prepos_lat_c,prepos_long_c,preAng_SunSeta,preAng_SatSeta,preAng_deltaPhi [142,147]
  end type
  type(cobj):: CldObj
诸葛小勇 2018/8/20 21:29:55
open(103,file=trim(CI_dir)//trim(Input_name2)//'_CldRcrd_simple.dat',action='read',status='old',IOSTAT=var)
read(103,*) CldObj

In [3]:
f = open(data_path)
s = f.read()
s1 = re.split('\s+', s) #利用正则函数进行分割

In [4]:
data_str = np.array(s1[1:-1]).reshape(-1,147)

In [5]:
print data_str

[['1' '55' '-999999.0' ... '-999999.0' '-999999.0' '-999999.0']
 ['2' '1796' '-999999.9' ... '1.051613' '0.6786593' '2.056972']
 ['3' '91' '-999999.3' ... '-999999.0' '-999999.0' '-999999.0']
 ...
 ['172' '12' '-1960977.' ... '-999999.0' '-999999.0' '-999999.0']
 ['173' '20' '-1947063.' ... '0.9921865' '0.6701363' '2.199138']
 ['174' '11' '-1947285.' ... '-999999.0' '-999999.0' '-999999.0']]

In [6]:
data = np.zeros_like(data_str,dtype='float')
data = data_str.astype('float')

In [7]:
Data = pd.DataFrame(data)
Data[Data<-900000]=np.nan
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,1.0,55.0,NaN,NaN,12.72857,18.57857,15.06429,11.15714,296.0500,237.3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1796.0,NaN,NaN,22.46192,28.19021,24.67685,19.07261,293.9492,237.3395,...,857.8999,-2407.0,734.0,-262.2,99.9381,27.2387,119.8037,1.051613,0.678659,2.056972
2,3.0,91.0,NaN,NaN,14.40870,19.00000,16.20000,12.10000,298.0956,237.9000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,92.0,NaN,NaN,13.78696,18.00000,15.90000,11.90000,298.7739,237.9000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,187.0,NaN,NaN,16.96595,19.80000,16.80000,12.74042,297.6489,238.1297,...,2073.3000,1525.2,2907.5,-2883.6,100.1839,27.1757,120.3863,1.060292,0.671312,2.048769